@charset "UTF-8";

/* Estilo para dispositivos móveis */

/* Configurações gerais para todas a paginas */

@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

html,body{
    padding: 0px;
    margin: 0px;
}

header{
    position: relative;
    background: url(../imagens/livro-de-receitas.jpg) center center no-repeat;
    background-size: cover;
    height: 150px;
    width: 100%; 
    margin:0px 0px 10px 0px ;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.568);
}

header > h1{ 
    position: relative;
    margin: 0px;
    font-family: "Ephesis";
    font-size: 35px;
    z-index: 1;
    text-shadow: 2px 2px 2px black;
}

header > nav{
    font-size: 13px;
    position: absolute;
    bottom: 0;
}

header > nav > ul{
    margin: 0px 0px 8px 0px;
    padding: 0;
}

header > nav > ul > li{
    list-style-type: none;
    display: inline;
    margin: 0px 5px 0px 5px;
}

body > header > nav > ul > li > a{
   color: white;
   text-decoration: none;
}

body > header > nav > ul > li > a:visited{
    color: white;
}

article{
    max-width: 270px;
    margin: auto;
    margin: 0px auto 15px auto;
    border: 1px solid rgba(0, 0, 0, 0.226);
    padding: 5px;
    border-radius: 5px;
}

.conteudo{
    text-align: justify;
    font-size: 14px;
    padding: 10px;
   
}

.titulo-1{
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    padding: 5px;
}


.titulo-2{
    font-size:17px ;
    padding: 5px;
}

.lista-preparo{
    list-style-position: inside;
    padding: 0;
    margin: 0;
    line-height: 18px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 2px;
    line-height: 10px;
}

footer > p{
    margin: 3px 0px 3px 0px;
}

footer > p > a{
    color: white;  
    text-decoration: none; 
}

footer > p > a:visited{
    color: white;
    text-decoration: none;
}

/* Estilo específico pagina 1 - "Massas" */

#nhoque{
    position: relative;
    background: url(../imagens/nhoque.jpg) center center no-repeat;
    width: 100%;
    height: 130px;
    background-size: cover;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

#nhoque::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.377)
}

#nhoque > h1{
    position: relative;
    z-index: 1;
    margin: 0;
    font-size: 25px;
}


#macarrao{
    position: relative;
    background: url(../imagens/macarrão.jpg) center center no-repeat;
    width: 100%;
    height: 130px;
    background-size: cover;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

#macarrao::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.568)
}

#macarrao > h1{
    position: relative;
    z-index: 1;
    margin: 0;
    font-size: 22px;
    text-align: center;
}

/* Estilo específico página 2 - "Salgados" */

#coxinha{
    position: relative;
    background: url(../imagens/coxinha.jpg) top center no-repeat;
    width: 100%;
    height: 130px;
    background-size: cover;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

#coxinha::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.568)
}

#coxinha > h1{
    position: relative;
    z-index: 1;
    margin: 0;
    font-size: 25px;
    text-align: center;
}

#croquete{
    position: relative;
    background: url(../imagens/croquete.jpg) top center no-repeat;
    width: 100%;
    height: 130px;
    background-size: cover;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

#croquete::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.568)
}

#croquete > h1{
    position: relative;
    z-index: 1;
    margin: 0;
    font-size: 25px;
    text-align: center;
}

/*Estilo específico pagina 3 - "Doces" */

#pudim{
    position: relative;
    background: url(../imagens/pudim.jpg) top center no-repeat;
    width: 100%;
    height: 130px;
    background-size: cover;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

#pudim::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.568)
}

#pudim > h1{
    position: relative;
    z-index: 1;
    margin: 0;
    font-size: 25px;
    text-align: center;
}

#brigadeiro{
    position: relative;
    background: url(../imagens/brigadeiro.jpg) center center no-repeat;
    width: 100%;
    height: 130px;
    background-size: cover;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

#brigadeiro::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.568)
}

#brigadeiro > h1{
    position: relative;
    z-index: 1;
    margin: 0;
    font-size: 25px;
    text-align: center;
}